extends layout

block content
	h1= title

	a.btn.btn-primary(href="/catalog/genre/create") Create new genre

	hr

	ul
		each genre in genre_list
			li
				a(href=genre.url) #{genre.name}

		else
			li There are no genres.